<style>
    #Caps{
        font-size:20px;
        margin-top:10px;
    }
</style>
<ul class="nav navbar-nav navbar-right" id="Caps">
    @if (Session["admin"] != null)
    {
            <li><a>Welcome @Session["admin"] </a></li>
            <li>@Html.ActionLink("Logout", "LogOut", new { controller = "Home" })</li>
       
    }
    else
    { 
            <li>@Html.ActionLink("Login", "AdminLogin", "Account")</li>
            <li>@Html.ActionLink("Register", "AdminRegister", "Account")</li>
   
    }
</ul>