
@{
    ViewBag.Title = "Overview";
}

<style type="text/css">
    .tabs {
        background: none;
        font-size: 1.0625rem;
        padding: 4px 0 50px;
        position: relative;
        width: 100%;
        box-shadow: none;
        border-bottom: 1px solid #eaeaea;
    }

        .tabs > li {
            float: left;
            margin-bottom: -1px;
        }

            .tabs > li > a {
                margin-right: 2px;
            }

            .tabs > li.active > a,
            .tabs > li.active > a:hover,
            .tabs > li.active > a:focus {
                color: #555555;
                cursor: default;
                /*background-color: #eeeeee;
            border: 1px solid #dddddd;
            border-bottom-color: transparent;*/
            }
</style>

<br />
<br/>

@*<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#MyProfile">My Profile</a></li>
        <li><a data-toggle="tab" href="#">My DSTV</a></li>
        <li><a data-toggle="tab" href="#">My Newsletters</a></li>
    </ul>
    <div class="tab-content" style="margin-left:70px">
        <div id="MyProfile" class="tab-pane fade in active">
            <div class="has-error">
                <a href="javascript:void(0)" id="avatar-link">Add profile image</a>

                <label for="avatar-link">
                    Add profile image
                    <input type="file" name="file">
                </label>
            </div>
        </div>
        <div id="MyDSTV" class="tab-pane fade">

        </div>
        <div id="MyNewsletters" class="tab-pane fade">

        </div>
    </div>
</div>*@


@*<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#MyProfile"><b style="color:#1f82fc">My Profile</b></a></li>
        <li><a data-toggle="tab" href="#MyDSTV"><b style="color:#1f82fc">My DSTV</b></a></li>
        <li><a data-toggle="tab" href="#MyNewsletters"><b style="color:#1f82fc">My Newsletters</b></a></li>
    </ul>

    <div class="tab-content" style="margin-left:70px">
        <div id="MyProfile" class="tab-pane fade in active">
            <div class="has-error">
                <a href="javascript:void(0)" id="avatar-link">Add profile image</a>

                <label for="avatar-link">
                    Add profile image
                    <input type="file" name="file">
                </label>
                <div class="row">

                </div>
            </div>
            </div>
        <div id="MyDSTV" class="tab-pane fade in active">
        </div>
        <div id="MyNewsletters" class="tab-pane fade in active">
        </div>
        </div>
    </div>*@



<div class="container">
    <div class="panel-group">
        <div class="panel">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-edit"></span>
            </div>
            <div class="panel-body">

            </div>
            
        </div>
    </div>
</div>

