@model IEnumerable<DSTVWebApp.Models.Show>

@{
    ViewBag.Title = "Search";
}
<br />
<br />

<div class="move">
    <section>
        <div>

            <h2>Search Results...</h2>
            <p>Not found, Please Try again!!</p>
        </div>
    </section>
    <br />

</div>

<div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>