
@{
    ViewBag.Title = "Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #header{
        font-size:26px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:#1b9bfb;
    }
    #changeSize {
        margin-top:100px;
        margin-left:150px;
        width: 80%;
    }
</style>
<br/>



<div id="changeSize">
    <article class="glyphicon-dashboard">
        <div class="glyphicon-dashboard">
            <label style="font-size:28px;color:#0094ff">How to pay</label>
            <p>&nbsp;</p>
        </div>
    </article>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" id="header"><a href="#debit" aria-expanded="false" class='accordion-toggle collapsed' data-parent="#accordion" data-toggle="collapse">Debit Order <span class="pull-right caret"></span></a></h4>
        </div>
        <div class="panel-collapse collapse" aria-expanded="false" id="debit">
            <div class="panel-body">
                <div class="panel-group"></div>
                <p>Remove the hassle of going to&nbsp;the&nbsp;bank, standing in queues or carrying cash around.&nbsp;</p>
                <p><a href="http://rndcdn.dstv.com/dstvcms/2015/07/10/banks.jpg"><img alt="" class="img-responsive" src="http://rndcdn.dstv.com/dstvcms/2015/07/10/banks.jpg" /></a></p>

                <p>*This process is possible if&nbsp;the MultiChoice customer and the bank account holder (payer) are the same person. Should you not have your branch name, please&nbsp;send an email to <a href="mailto:debitorders@multichoice.co.za">debitorders@multichoice.co.za</a> for further assistance.</p>
                <p><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/VLeKIlGMcSQ" width="560"></iframe></p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" id="header"><a href="#ussd" aria-expanded="false" class='accordion-toggle collapsed' data-parent="#accordion" data-toggle="collapse">USSD <span class="pull-right caret"></span></a></h4>
        </div>
        <div class="panel-collapse collapse" aria-expanded="false" id="ussd">
            <div class="panel-body">
                <div class="panel-group"></div>
                <p>Paying your DStv account just got easier!</p>
                <p>
                    <br />
                    If you bank with <strong>FNB</strong>, <strong>Nedbank</strong>, or <strong>Standard Bank</strong>, you can now pay your DStv subscription and top up your <a href="http://boxoffice.dstv.com/">BoxOffice account</a> from your mobile.<br />
                    Simply dial the following number, depending on who you bank with, and follow the steps to pay.
                </p>
                <p>Dial *120*68584#</p>
                <p>For FNB customers, dial *120*321#</p>
                <p>For Nedbank customers, dial *120*001#</p>
                <p>For Standard Bank customers, dial *120*2345#<br />&nbsp;</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" id="header"><a href="#QRCode" aria-expanded="false" class='accordion-toggle collapsed' data-parent="#accordion" data-toggle="collapse">QR Code on MultiChoice statements <span class="pull-right caret"></span></a></h4>
        </div>
        <div class="panel-collapse collapse" aria-expanded="false" id="QRCode">
            <div class="panel-body">
                <div class="panel-group"></div>
                <p>For your payment convenience, MultiChoice has added a QR code to our statements. This gives you, as a customer, the option to make immediate, hassle-free payment.</p>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" id="header"><a href="#eft" aria-expanded="false" class='accordion-toggle collapsed' data-parent="#accordion" data-toggle="collapse">Payment link via SMS or MMS <span class="pull-right caret"></span></a></h4>
        </div>
        <div class="panel-collapse collapse" aria-expanded="false" id="eft">
            <div class="panel-body">
                <div class="panel-group"></div>
                <p>When you receive an SMS or MMS from us, reminding you to pay your DStv account, you&rsquo;ll notice a link at the end of the message. Simply click on this link to make an instant payment from your mobile phone.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" id="header"><a href="#credit" aria-expanded="false" class='accordion-toggle collapsed' data-parent="#accordion" data-toggle="collapse">Credit Card <span class="pull-right caret"></span></a></h4>
        </div>
        <div class="panel-collapse collapse" aria-expanded="false" id="credit">
            <div class="panel-body">
                <div class="panel-group"></div>
                <p>You can make a credit card payment at any DStv Service Centre or DStv Agency</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" id="header"><a href="#direct" aria-expanded="false" class='accordion-toggle collapsed' data-parent="#accordion" data-toggle="collapse">Direct Deposit <span class="pull-right caret"></span></a></h4>
        </div>
        <div class="panel-collapse collapse" aria-expanded="false" id="direct">
            <div class="panel-body">
                <div class="panel-group"></div>
                <p>You can make payments at the following places:</p>
                <ul>
                    <li><em><strong>Absa&nbsp;branch</strong></em>:&nbsp;MultiChoice is already a pre-approved beneficiary. All you have to do is give the bank teller your eight-digit MultiChoice customer number.&nbsp;</li>
                </ul>
                <ul>
                    <li>​<em><strong>Absa ATM</strong></em>:&nbsp;MultiChoice is already listed as one of the service providers.&nbsp;Just select the option and follow the instructions to make payment.</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" id="header"><a href="#walkIn" aria-expanded="false" class='accordion-toggle collapsed' data-parent="#accordion" data-toggle="collapse">Walk-in Centres <span class="pull-right caret"></span></a></h4>
        </div>
        <div class="panel-collapse collapse" aria-expanded="false" id="walkIn">
            <div class="panel-body">
                <div class="panel-group"></div>
                <p>DStv walk-in centres are located in Cape Town, Durban, Centurion and Randburg.&nbsp;</p>

                <p><strong>DStv Agencies</strong></p>
                <ul>
                    <li>DStv Agencies are located in various places nationwide.</li>
                    <li>Only credit card or debit card payments are accepted at MultiChoice Agencies, no cash payments or cheques are accepted.</li>
                    <li>Decoder insurance payments are not accepted at DStv Agencies, only via the self-help kiosk.</li>
                </ul>

                <p>&nbsp;</p>
                <p><strong>DStv Self Service kiosks</strong></p>

                <p>DStv Self Service kiosks are available at the Cape Town, Centurion, Durban and Randburg walk-in centres and DStv Agencies nationwide. The kiosks enable customers to make DStv payments and view payment transactions and are designed to process card payments.</p>

                <p>The kiosks accept debit cards with 3D secure chips and pin verification. Customers can also use credit card payments including American Express.&nbsp;The machines do not print out receipts but give customers an option to choose between receiving confirmation via an email or SMS.</p>

            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title" id="header"><a href="#atm" aria-expanded="false" class='accordion-toggle collapsed' data-parent="#accordion" data-toggle="collapse">ATM <span class="pull-right caret"></span></a></h4>
        </div>
        <div class="panel-collapse collapse" aria-expanded="false" id="atm">
            <div class="panel-body">
                <div class="panel-group"></div>
                <p>When paying at an ATM, make sure that you create MultiChoice as a beneficiary on your bank account. Use your eight-digit MultiChoice customer number as the payment / beneficiary reference.&nbsp;</p>
            </div>
        </div>
    </div>
</div>

